on: pull_request

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.13, 1.14, 1.15]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - run: go get -t ./...

      - name: Test
        run: go test -coverprofile=coverage.txt -covermode=atomic

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v1
